body{
    background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,45,178,1) 100%);
}
#carrusel{
    height: 30vh;
}
.layout{
    height: 80vh;
}
.layout2{
    height: 95vh;
}
#iconS{
    height:1rem;
}
#ancor a img{
    height: 2.5rem;
}
.cards-wrapped{
    display: flex;
}
.cards{
    margin: 1rem;
}
#cartas img{
    object-fit: contain;
}