body{
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,45,178,1) 100%);
    font-family: 'Fira Sans', sans-serif;
}
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;700;900&display=swap");

.header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 4rem);
}

.title-wrapper {
  display: grid;
  align-items: center;
  justify-content: center;
  transform: skew(0, -10deg);
}

.top-title {
  order: 1;
  text-align: center;
  display: block;
  color: #fff;
  font-size: clamp(1rem, 4vw, 1.5rem);
  margin-bottom: 1rem;
  padding-right: 2rem;
}

.bottom-title {
  order: 3;
  text-align: center;
  display: block;
  color: #fff;
  font-size: clamp(1rem, 4vw, 1.5rem);
  margin-top: 2rem;
  padding-left: 2rem;
}

.sweet-title {
    font-family: "Exo 2", sans-serif;  
  order: 2;
  color: #fde9ff;
  font-weight: 900;
  text-transform: uppercase;
  font-size: clamp(3rem, 10vw, 6rem);
  line-height: 0.75em;
  text-align: center;
  text-shadow: 3px 1px 1px rgba(34,193,195,1), 2px 2px 1px rgba(253,45,178,1), 4px 2px 1px rgba(34,193,195,1),
    3px 3px 1px rgba(253,45,178,1), 5px 3px 1px rgba(34,193,195,1), 4px 4px 1px rgba(253,45,178,1),
    6px 4px 1px rgba(34,193,195,1), 5px 5px 1px rgba(253,45,178,1), 7px 5px 1px rgba(34,193,195,1),
    6px 6px 1px rgba(253,45,178,1), 8px 6px 1px rgba(34,193,195,1), 7px 7px 1px rgba(253,45,178,1),
    9px 7px 1px rgba(34,193,195,1);

  span {
    display: block;
    position: relative;

    &:before {
      content: attr(data-text);
      position: absolute;
      text-shadow: 2px 2px 1px #e94aa1, -1px -1px 1px #c736f9,
        -2px 2px 1px #e94aa1, 1px -1px 1px #f736f9;
      z-index: 1;
    }

    &:nth-child(1) {
      padding-right: 2.25rem;
    }

    &:nth-child(2) {
      padding-left: 2.25rem;
    }
  }
}

.disclaimer {
  width: 100%;
  height: 2rem;
  text-align: center;
  color: #fff;

  a {
    color: #fff;
  }
}




/* h1 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
    font-size: 8vw;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
} */
#carrusel{
    height: 30vh;
}
.layout{
    height: 80vh;
}
.layout2{
    height: 95vh;
}
#iconS{
    height:1rem;
}
#ancor a img{
    height: 2.5rem;
}
.cards-wrapped{
    display: flex;
}
.cards{
    margin: 1rem;
}
#cartas img{
    object-fit: contain;
}
.fancy {
    @supports (background-clip: text) or (-webkit-background-clip: text) {
      background-image: 
        url("data:image/svg+xml,%3Csvg width='2250' height='900' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath fill='%2300A080' d='M0 0h2255v899H0z'/%3E%3Ccircle cx='366' cy='207' r='366' fill='%2300FDCF'/%3E%3Ccircle cx='1777.5' cy='318.5' r='477.5' fill='%2300FDCF'/%3E%3Ccircle cx='1215' cy='737' r='366' fill='%23008060'/%3E%3C/g%3E%3C/svg%3E%0A");
      background-size: 110% auto;
      background-position: center;
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
    }
  }
.carta{
    height: 25rem!important;
}